
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>
            <img src="~/web/images/about_banner.jpg" alt="" />
            <p>Biz Size Tatil Ayarlamak Gittiğiniz Ülkelerde Veya Şehirlerde Gezi Düzenleriz Ve Aynı Zamanda Gittiğiniz Ülkelerde Veya Şehirlerde Kalmanız İçin Otel İmkanı Sağlarız.</p>
        </div>
    </div>
</div>

